{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% if CUSTOM_ADMIN.branding %} | {{CUSTOM_ADMIN.branding}}{% endif %}{% endblock %}
{% block extrahead %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="/custom_admin_layout.css" />
{% endblock extrahead %}
{% block rosetta %}{% endblock %}
{% block branding %}

<h1 id="site-name">
{% if CUSTOM_ADMIN.branding_link %}<a href="{{CUSTOM_ADMIN.branding_link}}" title="{{CUSTOM_ADMIN.branding}}">{% endif %}
{% if CUSTOM_ADMIN.branding_image %}<img src="{{CUSTOM_ADMIN.branding_image.url}}" alt="{{CUSTOM_ADMIN.branding}}"/>
    <span>{{CUSTOM_ADMIN.branding}}</span>
{% elif CUSTOM_ADMIN.branding %}{{CUSTOM_ADMIN.branding}}
{% else %}
    {% trans 'Django administration' %}
{% endif %}
{% if CUSTOM_ADMIN.branding_link %}</a>{% endif %}
</h1>

{% endblock branding %}

{% block nav-global %}
    <style type="text/css">
        .ml {margin:0 10px 10px;display:block;float:left}
        .ml_container{clear:both;}
    </style>
    <div class="ml_container">
        <a href="/" class="ml">{% trans "Website home" %}</a>
        <a href="/admin/" class="ml">{% trans "Admin home" %}</a>
        {% if user.is_superuser %}<a href="{% url "inspectmodel.views.browse" %}" class="ml">{% trans "Inspect models" %}</a>{% endif %}
    </div>
{% endblock nav-global %}
